@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #EEEEEE;
  --cor-tercearia: #4B0FA3
;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  
}

.cabecalho {
  padding: 2% 0% 0% 15%;
  
}

.cabecalho__menu {
  display: flex;
  gap: 50px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-tercearia);
  text-decoration: none;
}

.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15% 6% 15%;
  gap: 80px;
  
}

.conteudo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);

}

.titulo__destaque {
  color: var(--cor-tercearia);
}

.paragrafo {
  font-size: 1.25rem;
  font-family: var(--fonte-secundaria);
  
}

.sub__titulo {
  font-size: 1.5rem;
  font-family: var(--fonte-primaria);
}

.apresetacao__conteudo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.apresetacao__conteudo__links__navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 45%;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--cor-tercearia);
  color: #f6f6f6;
  transition: transform 0.3s ease;
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  margin-top: 18px;
}

.apresetacao__conteudo__links__botao:hover {
  transform: scale(1.1);
}
.minha_imagem {
  width: 37%;
  border-radius: 5%;
  border: 2px solid var(--cor-tercearia);
}
.minha_imagem_home {
  width: 37%;
  border-radius: 5%;
  border: 2px solid var(--cor-tercearia);
}

.apresentacao__sobre {
  display: flex;
  align-items: center;
  padding: 7% 15% 11% 15%;
  gap: 80px;
}

.rodape {
  color: var(--cor-secundaria);
  background-color: var(--cor-tercearia);
  text-align: center;
  padding: 22px;
  font-family: var(--fonte-secundaria);
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  .apresentacao {
     flex-direction: column-reverse;
     align-items: center;
     padding: 10% 5% 6% 5%;
     gap: 40px;
 }

 .titulo {
  font-size: 1.9rem;
 }

 .sub__titulo {
  font-size: 1.2rem;
 }

 .minha_imagem_home {
    width: 80%;
 }

 .conteudo {
  width: auto;
  align-items: center;
 }
 
 .apresetacao__conteudo__links__navegacao {
    width: 70%;
 }

 .rodape {
    padding: 2%;
  }

  .cabecalho {
    padding: 10% 10% 3% 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }
  
  .cabecalho__menu__link {
    font-size: 1.7rem;
  }

  .apresentacao__sobre {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 7% 5% 11% 5%;
  }
}